{% extends "base.html" %}

{% block content %}
<title>Home</title>
<h1 class="title" style="text-align: center; padding-top: 10vh;">
    統合検索
</h1>
<form action="/serch/" method="post">
    {% csrf_token %}
    <fieldset style="border: none; padding: 0; margin: 0; text-align: center; padding-top: 3vh;">
        <input id="item-1" class="radio-inline__input" type="radio" name="select_range" value="all" checked="checked"/>
        <label class="radio-inline__label" for="item-1">
            All
        </label>
        <input id="item-2" class="radio-inline__input" type="radio" name="select_range" value="mercari"/>
        <label class="radio-inline__label" for="item-2">
            Mercari
        </label>
        <input id="item-3" class="radio-inline__input" type="radio" name="select_range" value="yahoo"/>
        <label class="radio-inline__label" for="item-3">
            Yahoo Auction
        </label>
      </fieldset>
    <div class="word_input" style="display: flex; width: 50%; margin: auto; padding-top: 3vh;">
        <input name="serch_word" type="text" class="form-control" placeholder="キーワードを入力">
        <button type="submit" class="btn btn-primary">Serch</button>
    </div>
</form>
<style>
    .radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    }

    .radio-inline__label {
        display: inline-block;
        padding: 0.5rem 1rem;
        margin-right: 18px;
        border-radius: 3px;
        transition: all .2s;
    }

    .radio-inline__input:checked + .radio-inline__label {
        background: #2c6ce4;
        color: #fff;
        text-shadow: 0 0 1px rgba(0,0,0,.7);
    }

    .radio-inline__input:focus + .radio-inline__label {
        outline-color: #4D90FE;
        outline-offset: -2px;
        outline-style: auto;
        outline-width: 5px;
    }
</style>
{% endblock %}